.DetailedItemWrapper{
    display: flex;
    flex-wrap:wrap;
    width: 40rem;
    box-shadow: 2px 2px 10px .05px rgba(70, 73, 76, .5);
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 0 8px;

}

.NameDetails {
    width: 100%;
    margin: 20px 0 0px 8px;
}

.Details {
    margin-left: 20px;
}

.HomeIcon {
    margin-left: 80px;
    height: 40px;
}