.Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-shadow: 2px 2px 10px .05px rgba(70, 73, 76, .5);
    margin-bottom: 10px;
}


.Header {
    text-decoration: none;
    color: #46494C;
    margin: 0 8px;
    width: 100%;
}

.SearchBox {
    display: flex;
    justify-content: flex-end;
}
